@model MyProjectMVC.ViewModels.UserView
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<section class="flat-account background">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin: auto">
                <div class="form-login">
                    <div class="title">
                        <h3>Đăng nhập</h3>
                    </div>
                    <form asp-action="Login" method="post" accept-charset="utf-8">
                        <div class="form-box">
                            <label for="name-login">Email / Username <span style="color: red">*</span> </label>
                            <input type="text" id="name-login" name="Username" placeholder="Nhập Email hoặc Username">
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <label for="password-login">Mật khẩu <span style="color: red">*</span> </label>
                            <input type="text" id="password-login" name="Password" placeholder="Nhập mật khẩu">
                        </div><!-- /.form-box -->
                        <div class="form-box checkbox">
                            <input type="checkbox" id="remember" checked="" name="remember">
                            <label for="remember">Nhớ mật khẩu</label>
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <button type="submit" class="login">Đăng nhập</button>
                            <a href="#" title="">Quên mật khẩu?</a>
                        </div><!-- /.form-box -->
                    </form><!-- /#form-login -->
                </div><!-- /.form-login -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>