
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<section class="flat-shop-cart">
            <div class="container">
                <div class="row">
                    <div class="flat-row-title style1 notify">
                        <div class="table-cart">
                            Chức năng đang phát triển !
                        </div>
                    </div>
                </div>
            </div>
        </section>